<ion-view drag-content="false" cache-view="false" hide-menu="false" view-title="{{searchIndCtrl.viewTitle}}" hide-nav-bar="false" hide-back-button="false" can-swipe-back="true">
  <ion-content class="content-container">

    <div >
      <div class="mini-header" ng-include src="'templates/miniHeader.html'"></div>
      <div>
        <div class="card card-padding">
          <div class="item item-divider">
            Buscar indivíduo da visita
          </div>
          <div class="row">
            <div class="col">
              <ion-radio ng-model="searchIndCtrl.status" ng-change="searchIndCtrl.doSearch()" ng-value="'draft'">Rascunhos</ion-radio>
            </div>
            <div class="col">
              <ion-radio ng-model="searchIndCtrl.status" ng-change="searchIndCtrl.doSearch()" ng-value="'completed'">Concluídos</ion-radio>
            </div>
            <div class="col">
              <ion-radio ng-model="searchIndCtrl.status" ng-change="searchIndCtrl.doSearch()" ng-value="'all'">Todos</ion-radio>
            </div>
          </div>
          </label>
          <div class="row">
            <div class="col">
              <label class="item-input" id="serachTermLabel">
              <span class="input-label">Contendo:</span>
              <input type="text"
                        id="searchTerm"
                        name="searchTerm"
                        ng-model="searchIndCtrl.searchTerm"
                        placeholder="Dado do indivíduo"
                        ng-keyup="searchIndCtrl.doSearch()"
               />
            </div>
          </div>
          <div class="item item-divider" ng-class="searchIndCtrl.searching? 'loading':''">
            {{searchIndCtrl.searchResultLabel}}
          </div>
          <div class="item-text-wrap">
            <df-search-result class="df-search-result" ng-model="searchIndCtrl.results" on-item-click="searchIndCtrl.goToItem"> </df-search-result>
          </div>
        </div>
      </div>
      <div class="mini-footer" ng-include src="'templates/miniFooter.html'"></div>
    </div>
  </ion-content>
</ion-view>
