<div class="row summary-card-title" ng-class="{'positive':selected}">
  <div class="col" ng-class="item.summary.icon ? item.summary.icon : 'ion-clipboard'">
    <span style="padding-left:5px">{{item.typeDesc}}</span>
  </div>
  <div class="col">
    <span style="float:right;padding-right:6px;">
      <time class="form-time icon-right ion-calendar" ng-if="item.type==='visita'">{{item.createdAt | date:'dd/MM/yyyy HH:mm'}}</time> 
    </span>
  </div>
</div>

<div class="row summary-card-body" ng-if="item.summary.isValid">
  <div class="col">
    <p> {{item.summary.title.label}}: <b>{{item.summary.title.value}}</b></p>
    <p> {{item.summary.subtitle.label}}: <b>{{item.summary.subtitle.value}}</b></p>
  </div>
</div>

